
.jsshell
.js*shell

*.[oa]
*~
*.pyc
*CVS
*.so
*.d
*.class*
.cvsignore*
.#*
.git
*#
*.swp

#os x stuff
*Thumbs.db*
*.DS_Store

src/main/Foo.java
src/main/Eliot.java
.zeuspw

logs
test-output
oplog.*
build
crap
hs_err_*
docs
target

TAGS

#test local files
src/test/ed/webtests/webtest-local.bash
