<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
  
<suite name="appserver" >
  
  <test name="main tests">
    <classes>
      <class name="ed.db.ByteTest" />
      <class name="ed.appserver.AppServerTest" />
      <class name="ed.appserver.jxp.JxpServletTest" />
      <class name="ed.appserver.jxp.JxpSourceTest" />
      <class name="ed.net.DNSUtilTest" />
      <class name="ed.net.httpserver.ReplayTest"/>
      <class name="ed.appserver.jxp.AppContextTestNG" />
      <class name="ed.js.engine.ConvertTest" />
    </classes>
  </test>

  <test name="engine js tests">
	<parameter name="js-dir-name"  value="src/test/ed/js/engine/"/>
	<classes>
      <class name="ed.js.engine.JSTestFactory"/>
    </classes>
  </test>

  <test name="app-level js tests">
	<parameter name="js-dir-name"  value="src/test/ed/js/"/>
	<classes>
      <class name="ed.js.engine.JSTestFactory"/>
    </classes>
  </test>
  
</suite>

